/* 0% full*/
.c-00 {
	fill:rgb(240,265,240);
}
.c-0 {
	fill:rgb(220,265,220);
}
.c-1 {
	fill:rgb(193,265,193);
}
.c-2 {
	fill:rgb(180,248,180);
}
.c-3 {
	fill:rgb(150,230,150);
}
.c-4 {
	fill:rgb(100,210,100);
}
/* 50% full */
.c-5 {
	fill:rgb(50,180,50);
}
.c-6 {
	fill:rgb(20,160,20);
}
.c-7 {
	fill:rgb(10,142,10);
}
.c-8 {
	fill:rgb(10,120,10);
}
.c-9 {
	fill:rgb(0,100,10);
}
/* 100% full*/
.c-10 {
	fill:rgb(0,90,0);
}
.c--1{
	fill:rgb(256,256,256);
}
